@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');


:root {
    --primary-color: #141B31;
    --primary-75-color: #141b31d0;
    --primary-color: #141B31;
    --primary-color: #141B31;
    --secondary-color: #852A34;
    --secondary-75-color: #852a35e1;
    --secondary-50-color: #852a35d5;
    --secondary-25-color: #852a3596;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #2E3F75;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2a3763;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
    color: #000;
}

p {
    margin-bottom: 0 !important;
}

#navbar {
    background-color: var(--primary-color);
}

.navbar {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 1s ease;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow: hidden;
}

.navbar-brand {
    display: flex;
}

.navbar-brand span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .5px;
}

.navbar-brand img {
    height: 64px;
    width: 64px;
}

.navbar-brand .content {
    color: #00c000;
    font-size: 14px;
    display: block;
}

.navbar-brand .content span {
    color: #ffffff;
    font-size: 12px;
}

.navbar-collapse {
    height: 100%;
}

.main-nav {
    margin-top: 8px;
}

.navbar-dark {
    color: #fff !important;
}

.navbar-details {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-top {
    color: var(--secondary-50-color);
    font-size: 13px;
    letter-spacing: 1px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
}

.num-a:hover {
    color: var(--secondary-color);
}

.mail-nav:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.navbar-nav {
    justify-content: space-around;
    border-radius: 20px;
    width: 100%;
    height: 50%;
    text-align: center;
}

.nav-item {
    font-size: 1rem;
}

.nav-link {
    margin: 2px 0;
    color: #c9c9c9 !important;
    border-bottom: 2px solid transparent;
}

.nav-item:hover .nav-link {
    border-bottom: 2px solid #ffffff;
    color: #ffffff !important;
}

.nav-link.active {
    border-bottom: 2px solid #ffffff;
    color: #ffffff !important;
}

@media screen and (max-width:992px) {
    .navbar-brand span {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: .5px;
    }
    .navbar-brand img {
        height: 32px;
        width: 32px;
    }
    .navbar-brand .content {
        color: #00c000;
        font-size: 10px;
        display: none;
    }
}



/* Home=================================== */
/* ========================= */
#home-sec {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-carousel {
    transition: all 1s ease;
}

#home .card {
    height: 300px;
    overflow: hidden;
    position: relative;
}

#home .card-img-top {
    height: 300px;
    width: 100%;
    min-width: 100%;
    max-width: fit-content;
    transition: all .5s ease;
}

#home .card img {
    width: 100%;
}

#home .card-body {
    background: #ffffff83 !important;
    backdrop-filter: blur( 10px);
    -webkit-backdrop-filter: blur( 10px);
    border-top: 1px solid #eeeeeea8 !important;
    text-align: center;
    height: 0;
    transition: all .5s cubic-bezier(0.71, 0.01, 0.25, 1);
    height: 0px;
    width: 100%;
}

#home .card:hover .card-img-top {
    height: 250px;
}

#home .card:hover .card-body {
    height: 50px;
}

#home .card-title {
    font-size: 20px;
    color: #111 !important;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}

.slick-prev {
    left: 10px !important;
    z-index: 1;
}

.slick-next {
    z-index: 1;
    right: 10px !important;
}

.slick-prev:before {
    content: "\f104" !important;
    margin: 0 30%;
}

.slick-next:before {
    margin: 0 40%;
    content: "\f105" !important;
}

.slick-next:before, .slick-prev:before {
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: 2em !important;
    line-height: 1;
    opacity: 1 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000 !important;
}

.slick-next, .slick-prev {
    font-size: 20px !important;
    line-height: 1px;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px !important;
    height: 50px !important;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    outline: 0;
    background: #ffffff83 !important;
    backdrop-filter: blur( 10px);
    -webkit-backdrop-filter: blur( 10px);
    border-radius: 10px;
    border: 1px solid #eeeeeea8 !important;
}

.bg-gray {
    background-color: #f3f3f3;
}

#about {
    margin-top: 50px;
    margin-bottom: 100px;
}

.all-head {
    text-align: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    height: 50px;
    margin-bottom: 50px;
    color: #353935;
}

.all-head::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 7%;
    left: 50%;
    transform: translateX(-50%);
    background-color: blue;
    border-radius: 20px;
}

#about .about-para {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}

.about-icons {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    flex-direction: row;
}

#about .icon-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.circle {
    width: 70px;
    height: 70px;
    background-color: #def2ff;
    border-radius: 50%;
    position: relative;
}

.circle i, .circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

#about .content {
    text-align: left;
    padding: 10px;
    margin-left: 10px;
}

#about .content h4 {
    font-size: 14px;
    color: #aaa;
}

#about .content h5 {
    font-size: 20px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/* ==================Product============== */
/* ========================= */
#product {
    margin: 100px auto;
}

.card-text::-webkit-scrollbar {
    width: 0;
}

.card-text::-webkit-scrollbar-track {
    background-color: transparent;
}

.card-text::-webkit-scrollbar-thumb {
    background: transparent;
}

#product .product-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#product .card {
    width: 600px;
    height: 350px;
    transition: 1s ease;
    position: relative;
    margin-top: 50px;
}

#product .card-simple{
    display: flex !important;
    flex-direction: row;
}

#product .card-reverse{
    display: flex !important;
    flex-direction: row-reverse;
}

#product .card .img-fluid {
    overflow: hidden;
    width: 300px;
    padding: 20px;
}

#product .card .carousel-item img {
    width: 100%;
    height: 100%;
    transition: 1s ease;
}

#product .card:hover img {
    transform: scale(1.05);
}

#product .card .img-fluid .carousel{
    height: 100%;
}

#product .card .img-fluid .carousel .carousel-inner{
    height: 100%;
    border-radius: 6px;
}

#product .card .img-fluid .carousel .carousel-inner .carousel-item{
    height: 100%;
}

#product .card .card-body {
    width: 300px;
    padding: 20px 25px;
    background-color: #fff;
    transition: 1s ease;
    position: relative;
}

#product .card-title {
    font-size: 28px;
    font-family: 'Roboto', cursive;
    font-weight: 500;
    padding-bottom: 5px;
    position: relative;
    color: dodgerblue !important;
    letter-spacing: 1px;
}
#product .card-title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 2px;
    border-radius: 20px;
    background-color: dodgerblue;
}

#product .card-subtitle{
    font-size: 14px;
    font-family: "Roboto" , sans-serif;
    letter-spacing: 1px;
}

#product .card-text {
    margin-top: 20px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    height: 206px;
    overflow-y: scroll;
    color: #333 !important;
}

#product .card .card-btn {
    color: #03a9f4;
    border: 1px solid #03a9f4;
    background: transparent;
    position: absolute;
    bottom: 20px;
    width: 250px !important;
    padding: 6px;
    line-height: 15px;
}

#product .card .card-btn:hover{
    background: #03a9f4;
    color: #fff;
}

/* Customer Sec================================ */
/* =========================================================== */

#customer {
    margin: 100px auto;
    overflow: hidden;
}

#customer #customer-list {
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#customer #customer-list .card-content{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 50%;
}

#customer .card {
    width: 280px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

#customer .card h6 {
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

#customer .card img {
    width: 90px;
    height: 90px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}



/* Footer Sec================================ */
/* =========================================================== */

.footer {
    text-align: center;
    padding: 10px 0;
    background: var(--primary-75-color);
}

.footer h1 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .head-hr {
    text-align: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    height: 50px;
    margin-bottom: 50px;
    color: #353935;
}

.head-hr::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 7%;
    left: 50%;
    transform: translateX(-50%);
    background-color: blue;
    border-radius: 20px;
} */





@media screen and (max-width: 992px) {
    .navbar {
        display: flex;
        flex-direction: column;
        padding-top: 10px !important;
        position: relative;
        transition: 1s ease;
        padding-bottom: 5px !important;
    }
    .navbar-details {
        display: none;
    }
    #about .icon-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #about .content h5 {
        font-size: 14px;
    }
    #about .content {
        text-align: center;
        padding: 10px;
        margin-left: 10px;
    }
    #customer #customer-list .card-content{
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .all-head{
        margin-bottom: 20px;
    }
}



/* Ipad Views============================= */

@media screen and (max-width: 768px) {
    #about .about-para{
        font-size: 16px;
    }
    #product .card-title{
        margin: 0;
        font-size: 22px;
    }
    #product .card{
        height: 300px;
    }
    #product .card .card-body{
        padding: 25px 20px 0 30px;
    }
    #product .card .card-btn {
        position: absolute;
        bottom: 20px;
        width: 200px !important;
    }
    #product .card-text{
        font-size: 14px;
        height: 150px;
    }
}

@media screen and (max-width: 662px) {
    #mainSec {
        padding: 0px 20px;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        padding-top: 10px !important;
        position: relative;
        transition: 1s ease;
        padding-bottom: 5px !important;
    }
    .navbar-details {
        display: none;
    }
    #about .icon-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0px;
    }
    .about-icons {
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
        flex-direction: column;
    }
    #customer #customer-list {
        margin-top: 50px;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .all-head {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .footer h1 {
        font-size: 14px;
    }
    .head-hr::before {
        bottom: -30px;
        width: 10%;
    }
    #about .content {
        text-align: center;
        padding: 10px;
        margin-left: 0;
    }
    .slick-next:before, .slick-prev:before {
        font-size: 1.5em !important;
        line-height: 2;
    }
    .slick-next, .slick-prev {
        font-size: 20px !important;
        width: 40px !important;
        height: 40px !important;
    }
    #customer #customer-list .card-content{
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}

@media screen and (max-width: 540px) {
    #product .card{
        height: 500px !important;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #product .card .img-fluid{
        width: 100%;
        height: 300px;
    }
    #product .card .card-body{
        width: 100%;
        height: 250px;
    }
    #product .card-body .card-title{
        font-size: 22px !important;
    }
    #product .card-text{
        margin: 10px 0;
    }
    .head-hr{
        font-size: 28px;
    }
}

@media screen and (max-width: 345px) {
    #product .card .card-btn{
        width: 200px !important;
    }
}